
#headerBox{
	position: relative;
	right: 0vw;
	height: 8vh;
	width: 90vw;
	color: rgb(148, 146, 150);
	border: 2px groove rgb(151, 65, 133) ;	
	background-color: rgb(236, 189, 189);
	font-style: italic;
	border-radius: 150px;
	text-align: center;
	font-size: 6vh;
	/* box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 200px 0 rgba(0, 0, 0, 0.10); */
}

.gameBoard{
	margin:auto;
	position:relative; 
	left:10vw;
}

.mainBoard{
	position: absolute;
	height: 90vh;
	width:  90vw;
}

.skoreBoard{
	height: 10%;
	width:  50px;
	position: relative;
	top: -7vw;
    right: -40ex;
	color: rgb(148, 146, 150);
	border: 2px groove rgb(151, 65, 133) ;	
	background-color: rgb(236, 189, 189);
	font-style: italic;
	text-align: center;
	border-radius: 150px;
	display: inline-flex;
	font-size: 6vh;
}


 a{ font-size: 100%;}


#startButton {
	right: 20;
	top: 10;
	position: absolute;
	right: 10px;
	padding: 10px 15px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	text-decoration: solid;
	outline: none;
	color: rgb(138, 28, 28);
	background-color: rgb(236, 189, 189);
	border: none;
	border-radius: 150px;
	box-shadow: 5px 5px rgb(54, 53, 53);
}
  
.button:hover {
	  background-color:rgb(218, 153, 153);
	  color: #197a1c(138, 28, 28);}
  
.button:active {
	background-color:  rgb(180, 125, 125);
	box-shadow: 1px 1px rgb(70, 67, 67);
	transform: translateY(3px);
	color: rgb(192, 36, 36);
  }
	
.square {
	height: 9vh;
	width:  9vh;
	background-color: white;
	border: 3% ridge white;
	border-radius: 5%;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 200px 0 rgba(0, 0, 0, 0.10);
	}

.circle {
	width: 8vh;
	height:8vh;
	border-radius: 50%;
	background-color:white;
	animation:"";
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes bounce {
	from { transform: translate3d(0, 0, 0);     }
	to   { transform: translate3d(0, 10px, 0); }
  }
