:root {
	--tableSize: 9vw>9vh?;
}

.skoreBoard {
	font-style: italic;
	font-size: 100%;
	/* width:  20vw; */
	/* padding-left: 50%; */
	background-color: grey;
}

.headerBox{
	height: 8vh;
	width:  90vw;
	color: rgb(20, 3, 32);
	border: 2px groove rgb(157, 165, 165) ;	
	background-color: rgb(236, 189, 189);
	font-style: italic;
	border-radius: 150px;
	font-size: 150%;
	/* box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 200px 0 rgba(0, 0, 0, 0.10); */
}

.button {
	display: inline-block;
	padding: 10px 15px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: rgb(138, 28, 28);
	background-color: rgb(236, 189, 189);
	border: none;
	border-radius: 150px;
	box-shadow: 5px 5px rgb(54, 53, 53);
  }
  
  .button:hover {
	  background-color:rgb(218, 153, 153);
	  color: #197a1c(138, 28, 28);}
  
  .button:active {
	background-color:  rgb(180, 125, 125);
	box-shadow: 1px 1px rgb(70, 67, 67);
	transform: translateY(3px);
	color: rgb(192, 36, 36);
  }
	
.square {
	height: 9vh;
	width:  9vh;
	background-color: white;
	border: 3% ridge white;
	border-radius: 5%;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 200px 0 rgba(0, 0, 0, 0.10);
	}

.circle {
	width: 9vh;
	height:9vh;
	border-radius: 50%;
	background-color:white;
}
